doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Cart 
        link(rel="stylesheet" type="text/css" href="static/css/style.css")
    body
        include includes/nav.pug
        h1 장바구니
        table#cartTable
            thead 
                tr 
                    th ID 
                    th Image
                    th Name
                    th Price 
                    th Quantity 
                    th Action 
            tbody#cartTableBody
            tfoot#cartTableFoot
                tr 
                    td(colspan="4")
                    td 
                        strong Total: 
                    td#cartTableTotal
        script(src="static/js/cart.js")