doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        title Home
        link(rel="stylesheet" type="text/css" href="static/css/style.css")
    body
        include includes/nav.pug
        h1 Welcome to CVS!
        p We offer many numbers of snacks.
        section#mainArticle
            if username
                h2 Hello, #{username}!
            else
                h2 Login
                form#loginForm(onsubmit="loginToCvs(event)")
                    div
                        label(for="inputUsername" class="inputLabel") Username:
                        input(type="text", name="username", id="inputUsername")
                    div
                        label(for="inputPassword" class="inputLabel") Password:
                        input(type="password", name="password", id="inputPassword")
                    input(type="submit", value="Login")
        script(src="static/js/index.js")