nav#crm-navbar
    ul.nav-container
        li.nav-item(class=(currentPage === "users") && "nav-highlight")
            a(href="/users/1") User
        li.nav-item(class=(currentPage === "orders") && "nav-highlight")
            a(href="/orders/1") Order
        li.nav-item(class=(currentPage === "order-items") && "nav-highlight")
            a(href="/order-items/1") Order Item
        li.nav-item(class=(currentPage === "items") && "nav-highlight")
            a(href="/items/1") Item
        li.nav-item(class=(currentPage === "stores") && "nav-highlight")
            a(href="/stores/1") Store