<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>사용자 테이블</h1>
        <table class = "userTable">
            <tr>
                {% for key, value in userDataJson[0] %}
                    {% if key != "Id" and key != "Address" %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for user in userDataJson %}
                <tr onclick="location.href='/user/{{ user.Id }}'" id="userRow">
                    {% for key, value in user %}
                        {% if key != "Id" and key != "Address" %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class="pagination">
            {% if currentPage > 1 %}
                <a href="/?page={{ currentPage - 1 }}"><input type="button" value="← Previous"></a>
            {% endif %}
            {% for num in range(currentPage - 2, currentPage + 3) %}
                {% if currentPage < 3 %}
                    {% set num = num + (3 - currentPage) %}
                {% endif %}
                {% if currentPage > 12 %}
                    {% set num = num - (currentPage - 12) %}
                {% endif %}
                <a href="/?page={{ num }}" {% if num == currentPage %} class="active" {% endif %}><input type="button" value="{{ num }}" class="pageButton"></a>
            {% endfor %}
            {% if currentPage < totalPage %}
                <a href="/?page={{ currentPage + 1 }}"><input type="button" value="→ Next"></a>
            {% endif %}
        </div>              
    </body>
</html>