doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Item list 
        link(rel="stylesheet" type="text/css" href="static/css/style.css")
    body
        section.nav-section
            include includes/nav.pug
        section.main-section
            p Items page
        section.paging-section