doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Item list 
        link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    body
        section.nav-section
            include includes/nav.pug
        section.main-section
            table
                thead
                    tr 
                        th id
                        th type
                        th name
                        th unit_price
                tbody
                    for row in itemData 
                        tr 
                            td #{row.Id}
                            td #{row.Type}
                            td #{row.Name}
                            td #{row.UnitPrice}
        section.paging-section
            include includes/paging.pug