doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Item information
        link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    body 
        section.nav-section
            include includes/nav.pug
        section.main-section
            p 상품 정보
            table
                thead 
                    tr 
                        th name
                        th unit_price
                tbody
                    tr 
                        td
                        td
            p 월간 매출액
            table 
                thead
                    tr 
                        th Month
                        th Total Revenue
                        th Item Count 
                tbody
                    tr
                        td
                        td
                        td