doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Order list 
        link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    body
        section.nav-section
            include includes/nav.pug
        section.main-section
            table 
                thead 
                    tr 
                        th id
                        th ordered_at
                        th store_id
                        th user_id
                tbody 
                    for row in orderData
                        tr 
                            td #{row.Id}
                            td #{row.OrderAt}
                            td #{row.StoreId}
                            td #{row.UserId}
        section.paging-section
            include includes/paging.pug