<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>User information</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1>사용자 상세정보</h1>
        <table class = "userTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Birthdate</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ userDataJson.Id }}</td>
                    <td>{{ userDataJson.Name }}</td>
                    <td>{{ userDataJson.Gender }}</td>
                    <td>{{ userDataJson.Age }}</td>
                    <td>{{ userDataJson.Birthdate }}</td>
                    <td>{{ userDataJson.Address }}</td>
                </tr>
            </tbody>
        </table>
        <a href="javascript:window.history.back();"><p class="goBackLink">Back to List</p></a>
    </body>
</html>