nav 
    ul 
        li.nav-item(class=(currentPage === "home") && "nav-highlight")
            a(href="/") Home
        li.nav-item(class=(currentPage === "products") && "nav-highlight")
            a(href="/product") Products
        li.nav-item(class=(currentPage === "cart") && "nav-highlight")
            a(href="/cart") Cart
        if username
            li.nav-logout Welcome, #{username}&nbsp;
                a(href="#" onclick="logout()")
                    u Logout
    script(src="static/js/nav.js")