doctype html 
html(lang="ko")
    head 
        meta(charset="utf-8")
        title User information
        link(rel="stylesheet" type="text/css" href="/static/css/style.css")
    body 
        section.nav-section
            include includes/nav.pug
        section.main-section
            table
                thead 
                    tr 
                        th id
                        th ordered_at
                        th store_id
                        th user_id
                tbody
                    tr 
                        td #{orderData.Id}
                        td #{orderData.OrderAt}
                        td #{orderData.StoreId}
                        td #{orderData.UserId}