.title {
    background-color: cornflowerblue;
}
body {
    margin: 0;
}
.menu {
    float: left;
    background-color: gold;
    width: 20%;
}
.content_container {
    float: left;
    background-color: cornsilk;
    width: 70%;
}
@media (max-width: 600px) {
    .menu, .content_container {
        width: 100%;
    }
}