body {
    background-color: rgb(228, 228, 228);
}

.loginSection {
    background-color: white;
    width: 13%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginSection div {
    margin-bottom: 15px;
}

.loginSection div:last-child {
    margin-bottom: 0;
    margin-top: 25px;
}

.loginInput input {
    margin-top: 10px;
    font-size: 15px;
    width: 95%;
    height: 30px;
    border: 1px solid black;
}

#loginBtn {
    width: 60px;
    height: 35px;
    border: 0;
    border-radius: 3px;
    background-color: rgb(81, 181, 27);
    color: white;
}

#loginBtn:hover {
    background-color: rgb(65, 144, 22);
}